@model IEnumerable<Model.EF.GioHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Lịch Sử Mua Hàng</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NgayTao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipMobile)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipEmail)
                            </th>

                     
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row_@item.ID">
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayTao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipMobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipEmail)
                            </td>
                         
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

