@model List<QLBH.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section jsFooter{
    
<script src="/Content/CustomerContent/js/controller/cartControlller.js">


    </script>
    }
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Trang Chủ</a></li>
                <li class="active">Giỏ Hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">Bỏ Chọn</th>
                                    <th class="li-product-thumbnail">Hình Ảnh</th>
                                    <th class="cart-product-name">Tên Sản Phẩm</th>
                                    <th class="li-product-price">Giá</th>
                                    <th class="li-product-quantity">Số Lượng</th>
                                    <th class="li-product-subtotal">Tổng </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="li-product-remove"><a href="#" id="btn-delete" data-id="@item.Product.MaSP"><i class="fa fa-times"></i></a></td>
                                        <td class="li-product-thumbnail"><a href="/Product/Detail?id=@item.Product.MaSP"><img src="~/Content/CustomerContent/images/product/large-size/@item.Product.Anh" style="width:150px;height:150px;" alt="Li's Product Image"></a></td>
                                        <td class="li-product-name"><a href="/Product/Detail?id=@item.Product.MaSP">@item.Product.TenSP</a></td>
                                        <td class="li-product-price"><span class="amount">@item.Product.DonGia.GetValueOrDefault(0) VND</span></td>
                                        <td class="quantity">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" id="Quantity" value="@item.Quantity" data-id="@item.Product.MaSP" type="text">
                                                <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">@(item.Product.DonGia.GetValueOrDefault(0) * item.Quantity) VND</span></td>
                                    </tr>
                                }            
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input  class="input-text" name="coupon" id="in" value="" placeholder="Nhập Mã" type="text">
                                    <input class="button" name="apply_coupon" onclick="validate(coupon)" value=" Xác Nhận Mã Giảm Giá" type="button">
                                    <span id="message"></span>
                                    <span id="err"></span>

                                </div>
                                <div class="coupon2">
                                    <input class="button" id="btnUpdate" name="update_cart" value="Cập Nhật Giỏ Hàng" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-5 ml-auto">
                                <div class="cart-page-total">
                                    <h2>Hóa Đơn</h2>
                                    <ul>
                                        <li>Tổng Thanh Toán: <span>@(item.Product.DonGia.GetValueOrDefault(0) * item.Quantity) VND</span></li>
                                        <li>Số Tiền Phải Trả : <span>@(item.Product.DonGia.GetValueOrDefault(0) * item.Quantity) VND</span></li>
                                    </ul>
                                    <a href="#" id="btnPayment">Payment</a>
                                </div>
                            </div>
                            }
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function validate(coupon) {
    var myRe = "LUCKY100";
    var coupon = myRe.trim();
    var input = document.getElementById('in').value;
    if(input.toUpperCase() == coupon.toUpperCase()) {
        document.getElementById('message').innerHTML="Coupon applied!";
        document.getElementById('err').innerHTML="";
        return true;
    } else {
        document.getElementById('err').innerHTML="Invalid coupon";
        document.getElementById('message').innerHTML="";
        return false;
    }
    }
    
</script>
<style>
    #message {
        position: relative;
        top: 10px;
        color: green;
    }

    #err {
        position: relative;
        top: 10px;
        color: red;
    }
</style>
<!--Shopping Cart Area End-->
